<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Failed tasks</title>
    <link rel="stylesheet" type="text/css" href="css/main_page.css">
    <link rel="stylesheet" type="text/css" href="css/buttons.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
</head>
<body>

<button class="button button-blue button-main-page-back "><a href="/">Main Page</a></button>
<h2 class="title-failed">Failed tasks</h2>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Date</th>
        <th>Expired</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${findAllFailed}">
        <td class="data" th:text="${task.title}"></td>
        <td class="data" th:text="${task.text}"></td>
        <td class="data" th:text="${task.date}"></td>
        <td class="data " th:text="${task.expired}"></td>



    </tr>
    </tbody>
</table>
</body>
</html>