<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>


    <link rel="stylesheet" type="text/css" href="css/main_page.css">

</head>
<body>

<h2>Tasks</h2>
<a href="/task-create" class="btn btn-primary">Create new task</a>


<div class="main-container" >
    <div th:each="task:${task}" class="task ">

        <p th:text="${task.title}" ></p><br>
        <p th:text="${task.status}"></p><br>
        <p th:text="${task.expired}"></p><br>
        <p th:text="${task.text}" class="text"></p><br>
<footer>
        <div class="button-div">
        <a th:href="@{task-update/{id}(id=${task.id})}" class="btn btn-primary ">Edit</a>
        <a th:href="@{task-delete/{id}(id=${task.id})}" class="btn btn-danger ">Delete</a>

        </div>
</footer>
    </div>

</div>


</body>
</html>