<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">

    <meta charset="UTF-8">
<title>Update task</title>


</head>
<body>

<button class="button-blue button-main-page-back"><a href="/"  >Main Page</a></button>
<h2 class="h2">Update task</h2>
<form action="#" th:action="@{/task-update/{id}(id=${task.id})}"
      th:object="${task}" method="post" class="main-form">
    <input type="text" th:field="*{title}" id="title"  placeholder=" title" class="input"> <br>
    <input type="text" th:field="*{text}" id="text"  placeholder=" text" class="input"> <br>

    <label > Status</label>
        <select th:field="*{status}" class="input status">
            <option th:value="'COMPLETED'" th:text="COMPLETED"></option>
            <option th:value="'IN_PROGRESS'" th:text="IN_PROGRESS"></option>
            <option th:value="'FAILED'" th:text="FAILED"></option>

        </select> <br>
    <label > Expired</label>
    <select th:field="*{expired}" class="input expired">
        <option th:value="'HOURS_6'" th:text="HOURS_6"></option>
        <option th:value="'HOURS_12'" th:text="HOURS_12"></option>
        <option th:value="'ONE_DAY'" th:text="ONE_DAY"></option>
        <option th:value="'TWO_DAYS'" th:text="TWO_DAYS"></option>
        <option th:value="'ONE_WEEK'" th:text="ONE_WEEK"></option>
        <option th:value="'ONE_MONTH'" th:text="ONE_MONTH"></option>

    </select>
    <br>

    <input type="submit"  value="Update task" class="button-green button-submit-in-form">
</form>


</body>
</html>

