<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>

    <link rel="stylesheet" type="text/css" href="css/main_page.css">
    <link rel="stylesheet" type="text/css" href="css/buttons.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {

            $(".task").draggable({

            });


        });
    </script>

</head>
<body>

<h2>Tasks</h2>
<button class="button button-blue button-header"><a href="/task-create">Create new task</a></button>
<button class="button button-green button-header"><a href="/completed-tasks">Completed tasks</a></button>
<button class="button button-red button-header"><a href="/failed-tasks">Failed tasks</a></button>
<button class="button button-blue button-header"><a href="/all-tasks">All tasks</a></button>



<div class="main-container">
    <div class="column">
        <h5 class="expired-time">Six hours</h5>
    <div th:each="task:${sixHours}" class="task" >
        <div class="top-text-div">
            <p th:text="${task.title}" class="top-text title"></p>
            <button class="button-edit"><a th:href="@{task-update/{id}(id=${task.id})}">Edit</a></button>
            <button class="button-delete"><a th:href="@{task-delete/{id}(id=${task.id})}">Delete</a></button>
        <p th:text="${task.date}" class="top-text date "></p>
            <p th:text="${task.status}" class="status"></p>

        </div>
        <p th:text="${task.text}" class="text"></p><br>

    </div>
</div>

    <div class="column">
        <h5 class="expired-time">Twelve hours</h5>
        <div th:each="task:${twelveHours}" class="task" >
            <div class="top-text-div">
                <p th:text="${task.title}" class="top-text title"></p>
                <button class="button-edit"><a th:href="@{task-update/{id}(id=${task.id})}">Edit</a></button>
                <button class="button-delete"><a th:href="@{task-delete/{id}(id=${task.id})}">Delete</a></button>
                <p th:text="${task.date}" class="top-text date "></p>
                <p th:text="${task.status}" class="status"></p>

            </div>
            <p th:text="${task.text}" class="text"></p><br>

        </div>
    </div>

    <div class="column">
        <h5 class="expired-time">One day</h5>
        <div th:each="task:${OneDay}" class="task" >
            <div class="top-text-div">
                <p th:text="${task.title}" class="top-text title"></p>
                <button class="button-edit"><a th:href="@{task-update/{id}(id=${task.id})}">Edit</a></button>
                <button class="button-delete"><a th:href="@{task-delete/{id}(id=${task.id})}">Delete</a></button>
                <p th:text="${task.date}" class="top-text date "></p>
                <p th:text="${task.status}" class="status"></p>

            </div>
            <p th:text="${task.text}" class="text"></p><br>

        </div>
    </div>

    <div class="column">
        <h5 class="expired-time">Two days</h5>
        <div th:each="task:${twoDays}" class="task" >
            <div class="top-text-div">
                <p th:text="${task.title}" class="top-text title"></p>
                <button class="button-edit"><a th:href="@{task-update/{id}(id=${task.id})}">Edit</a></button>
                <button class="button-delete"><a th:href="@{task-delete/{id}(id=${task.id})}">Delete</a></button>
                <p th:text="${task.date}" class="top-text date "></p>
                <p th:text="${task.status}" class="status"></p>

            </div>
            <p th:text="${task.text}" class="text"></p><br>

        </div>
    </div>

    <div class="column">
        <h5 class="expired-time">One week</h5>
        <div th:each="task:${oneWeek}" class="task" >
            <div class="top-text-div">
                <p th:text="${task.title}" class="top-text title"></p>
                <button class="button-edit"><a th:href="@{task-update/{id}(id=${task.id})}">Edit</a></button>
                <button class="button-delete"><a th:href="@{task-delete/{id}(id=${task.id})}">Delete</a></button>
                <p th:text="${task.date}" class="top-text date "></p>
                <p th:text="${task.status}" class="status"></p>

            </div>
            <p th:text="${task.text}" class="text"></p><br>

        </div>
    </div>

    <div class="column">
        <h5 class="expired-time">One month</h5>
        <div th:each="task:${oneMonth}" class="task" >
            <div class="top-text-div">
                <p th:text="${task.title}" class="top-text title"></p>
                <button class="button-edit"><a th:href="@{task-update/{id}(id=${task.id})}">Edit</a></button>
                <button class="button-delete"><a th:href="@{task-delete/{id}(id=${task.id})}">Delete</a></button>
                <p th:text="${task.date}" class="top-text date "></p>
                <p th:text="${task.status}" class="status"></p>

            </div>
            <p th:text="${task.text}" class="text"></p><br>

        </div>
    </div>











</div>



</body>
</html>