<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>

    <link rel="stylesheet" type="text/css" href="css/buttons.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>
<body>

<div>
    <button class="button button-blue button-main-page-back "><a href="/">Main Page</a></button>

    <h2 class="h2">Create task</h2>
    <form action="#" th:action="@{/task-create}"
          th:object="${task}" method="post" class="main-form">
        <input type="text" th:field="*{title}" id="title" placeholder=" print a title here" class="input" required> <br>
        <input type="text" th:field="*{text}" id="text" placeholder=" print your task here" class="input" required> <br>

        <label> Expired</label>
        <select th:field="*{expired}" class="input expired">
            <option th:value="'HOURS_6'" th:text="HOURS_6"></option>
            <option th:value="'HOURS_12'" th:text="HOURS_12"></option>
            <option th:value="'ONE_DAY'" th:text="ONE_DAY"></option>
            <option th:value="'TWO_DAYS'" th:text="TWO_DAYS"></option>
            <option th:value="'ONE_WEEK'" th:text="ONE_WEEK"></option>
            <option th:value="'ONE_MONTH'" th:text="ONE_MONTH"></option>

        </select>
        <br>

        <input type="submit" id="submit" value="Create task" class="button button-green button-submit-in-form">

    </form>
</div>


</body>
</html>