<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update task</title>


</head>
<body>

<form action="#" th:action="@{/task-update/{id}(id=${task.id})}" th:object="${task}" method="post">
    <input type="text" th:field="*{title}" id="title"  placeholder=" title"> <br>
    <input type="text" th:field="*{text}" id="text"  placeholder=" text"> <br>

    <label > status</label>
        <select th:field="*{status}">
            <option th:value="'DONE'" th:text="DONE"></option>
            <option th:value="'IN_PROGRESS'" th:text="IN_PROGRESS"></option>
            <option th:value="'FAILED'" th:text="FAILED"></option>

        </select>
    <label > expired</label>
    <select th:field="*{expired}">
        <option th:value="'HOURS_6'" th:text="HOURS_6"></option>
        <option th:value="'HOURS_12'" th:text="HOURS_12"></option>
        <option th:value="'ONE_DAY'" th:text="ONE_DAY"></option>
        <option th:value="'TWO_DAYS'" th:text="TWO_DAYS"></option>
        <option th:value="'ONE_WEEK'" th:text="ONE_WEEK"></option>
        <option th:value="'ONE_MONTH'" th:text="ONE_MONTH"></option>

    </select>



    <input type="submit"  value="Update task">
</form>


</body>
</html>

