.button-blue{
    background-color: lightblue;
    height: 30px;
}

.button-green{
    background-color: lightgreen;
    height: 30px;
}
.button-red{
    background-color: red;
    height: 30px;
}
.button-edit{
    margin-left: 168px;

}
.button-delete {
    margin-left: 1px;
}

.button-header {
    margin-bottom: 10px;
    height: 30px;
    font-size: 16px;
}

.button-main-page-back {
    margin-left: 30px;
}

.button-submit-in-form {
    width: 210px;

}