
.button{
    height: 50px;
    width: 150px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid black;
}

.button-blue{
    background-color: lightblue;

}

.button-green{
    background-color: lightgreen;

}

.button-red{
    background-color: red;

}

.button-orange {
    background-color: orange;

}

.button-red:active {
    background-color: red;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}

.button-green:active {
    background-color: lightgreen;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}

.button-orange:active {
    background-color: orange;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}

.button-blue:active {
    background-color: lightblue;
    box-shadow: 0 2px #666;
    transform: translateY(1px);
}



.button-edit{
    margin-left: 60px;
    margin-top: 7px;
}


.button-header {
    width: 150px;
    margin-bottom: 10px;
    height: 45px;
    font-size: 18px;
}

.button-main-page-back {
    margin-left: 30px;
    font-size: 18px;
}

.button-submit-in-form {
    width: 210px;
    font-size: 18px;


}