div {
    margin-left: 15%;
}
th {
    width: 200px;
    height: 40px;
    font-size: 30px;
    color: brown;

}

td{
    text-align: center;
}

.data {
    border: 1px solid black;
    font-size: 25px;
    height: 30px;
}

.title-failed {
    margin-left: 25%;
    font-size: 30px;
    color: red;
}
.title-completed {
    margin-left: 25%;
    font-size: 30px;
    color: green;
}